.contenedor {
  padding: 40px;
  background: #f0cea1;
  min-height: 100vh;
}

h1 {
  margin-bottom: 5px;
}

.subtitulo {
  color: #6b7280;
  margin-bottom: 25px;
}

/* TABS */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  button {
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    background: #e5e7eb;
    cursor: pointer;
  }

  .activo {
    background: #d1d5db;
    font-weight: 600;
  }
}

/* BOTÓN */
.btn-principal {
  background: #111827;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

/* CARD */
.card {
  background: #f3f4f6;
  padding: 22px;
  border-radius: 18px;
  border: 1px solid #e5e7eb;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* HEADER */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

/* ICONOS */
.acciones-iconos {
  display: flex;
  gap: 12px;
}

.icono {
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.icono.editar:hover {
  color: #374151;
}

.icono.eliminar {
  color: #ef4444;
}

.icono.eliminar:hover {
  transform: scale(1.1);
}

/* BADGE */
.badge {
  display: inline-block;
  margin-top: 10px;
  background: #e5e7eb;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 13px;
  color: #374151;
}

/* DESCRIPCIÓN */
.descripcion {
  margin-top: 18px;
  font-size: 14px;
  color: #4b5563;
  line-height: 1.5;
}

/* MODAL */
.modal-fondo {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 420px;
  padding: 28px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal input,
.modal textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.modal textarea {
  resize: none;
  height: 90px;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.cancelar {
  background: #e5e7eb;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.guardar {
  background: #6b7280;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}
.confirmar {
  text-align: center;
}

.eliminar-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}
